.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #747f94;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Nav-head{
 text-align: center;
 color:white;
 
}

.btn{
  align-self: flex-end;
}
.hed{
  color:gold;

}
.ki{
  color:darkorange;
  padding-left: 30%;
  float: center;
}
.ji{
  color:lawngreen;
  padding-left: 30%;


}
.btn-outline-light{
  
  margin-left: 30%;
}
.carousel slide{
  width: 50%;
  height: 50%;
}
.hi{
  float: right;
}
.yes{
  float: left;
 padding-left: 5px;
 padding-top: 5px;

}
.rounded {
  height:200px;
  width:200px;
  
}
.rounded1{
  height:100px;
  width:100px;
  
}
.rounded2{
  height:100px;
  width:100px;
  
}
.poll{
  text-align: center;
  color:antiquewhite;
}
#write-in{
  text-align: left;
}